<section id="footer-update">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="box-logo-image">
          <a href=""><img class="shadow" src="../../assets/images/logo-image-footer.png" alt=""></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing  </p>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="row ready-line">
          <div class="col-lg-9">
            <div class="box-ready">
              <p>Ready to get started?</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box-ready-btn">
              <button class="btn shadow">Get started</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="box-list">
              <ul>
                <li><strong>Job Category</strong></li>
                <a href=""><li>Designing</li></a>
                <a href=""><li>Marketing</li></a>
                <a href=""><li>Development</li></a>
                <a href=""><li>Data Analytics</li></a>
                <a href=""><li>Post New Job </li></a>
              </ul>
            </div>
            
          </div>
          <div class="col-lg-3">
            <div class="box-list">
              <ul>
                <li><strong>Job Type</strong></li>
                <a href=""><li>Work From Home</li></a>
                <a href=""><li>Internship Job </li></a>
                <a href=""><li>Freelancer Job </li></a>
                <a href=""><li>Part Time Job </li></a>
                <a href=""><li>Full Time Job </li></a>
              </ul>
            </div>
            
          </div>
          <div class="col-lg-3">
            <div class="box-list">
              <ul>
                <li><strong>RESOURCES</strong></li>
                <a href=""><li>My Account </li></a>
                <a href=""><li>Support</li></a>
                <a href=""><li>How It Works</li></a>
                <a href=""><li>Underwriting</li></a>
                <a href=""><li>Employers</li></a>
              </ul>
            </div>
            
          </div>
          <div class="col-lg-3">
            <div class="box-list">
              <ul>
                <li><strong>QUICK LINKS</strong></li>
                <a href=""><li>Jobs Listing</li></a>
                <a href=""><li>About Us</li></a>
                <a href=""><li>Contact Us</li></a>
                <a href=""><li>Privacy Policy</li></a>
                <a href=""><li>Term & Condition</li></a>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>