<section id="footer-update">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="box-logo-image">
          <a href=""><img class="shadow" src="../../assets/images/logo-image-footer.png" alt=""></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing  </p>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="row ready-line" *ngIf="!isLoggedIn">
          <div class="col-lg-9">
            <div class="box-ready">
              <p>Ready to get started?</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box-ready-btn">
              <a class="btn shadow" style="color: white;" [routerLink]="['/login']">Get started</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="box-list">
              <ul>
                <li><strong>Job Category</strong></li>
                <a href="" [routerLink]="['/browse-jobs']"><li>Die Casting</li></a>
                <a href="" [routerLink]="['/browse-jobs']"><li>Sheet Metal</li></a>
                <a href="" [routerLink]="['/browse-jobs']"><li>Manufactoring</li></a>
                <a href="" [routerLink]="['/browse-jobs']"><li>Manufactoring Automotive</li></a>
                <a href="" [routerLink]="['/browse-jobs']"><li>Fastner line</li></a>
              </ul>
            </div>
            
          </div>
          <div class="col-lg-3">
            <div class="box-list">
              <ul>
                <li><strong>Job Type</strong></li>
                <a href="" [routerLink]="['/browse-jobs']"><li>Work From Home</li></a>
                <a href="" [routerLink]="['/browse-jobs']"><li>Internship Job </li></a>
                <a href="" [routerLink]="['/browse-jobs']"><li>Freelancer Job </li></a>
                <a href="" [routerLink]="['/browse-jobs']"><li>Part Time Job </li></a>
                <a href="" [routerLink]="['/browse-jobs']"><li>Full Time Job </li></a>
              </ul>
            </div>
            
          </div>
          <div class="col-lg-3">
            <div class="box-list">
              <ul>
                <li><strong>RESOURCES</strong></li>
                <a [routerLink]="['/profile']"><li>My Account </li></a>
                <a [routerLink]="['/']"><li>Support</li></a>
                <a [routerLink]="['/']"><li>How It Works</li></a>
                <a [routerLink]="['/']"><li>Underwriting</li></a>
                <a [routerLink]="['/']"><li>Employers</li></a>
              </ul>
            </div>
            
          </div>
          <div class="col-lg-3">
            <div class="box-list">
              <ul>
                <li><strong>QUICK LINKS</strong></li>
                <a  [routerLink]="['/browse-jobs']"><li>Jobs Listing</li></a>
                <a  [routerLink]="['/about']"><li>About Us</li></a>
                <a [routerLink]="['/contact']"><li>Contact Us</li></a>
                <a [routerLink]="['/']"><li>Privacy Policy</li></a>
                <a [routerLink]="['/']"><li>Terms & Condition</li></a>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>