.example-chip-list {
    width: 100%;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  

  
.profile {
  color: gray;
  padding-left: 5%;
}
.my-pagination::ng-deep .ngx-pagination .current {
  background: #a51d2b  !important;
 
}
.icon img {
  border-radius: 50%;
}
.top-header {
  background-image: url("../../../assets/images/rec-head-img.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.box-rec-cand h1 {
  font-size: 31px;
  color: #fff;
  font-weight: 400;
}
.box-rec-cand p {
  font-size: 11px;
  color: #fff;
}
.box-rec-cand {
  padding-top: 6%;
}