<!DOCTYPE html>
<html lang="en">

<app-recruiter-header></app-recruiter-header>

<body>
    <div class="page-header">
        <div class="inner-header top-header">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12">
                        <div class="box-rec-cand">
                            <h1>Find your <span style="font-weight: 600;">Candidate</span> </h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu in sed in eu.  </p>
                        </div>
                    </div>
                </div>
                <div class="row jobserch" style="padding-left: 5%; padding-top: 1px;">

                    <div class="job-search-form bg-cyan job-featured-search"
                        style="width: 100%; background-color: white;">
                        <form [formGroup]="browseForm" (ngSubmit)="filterJobs()" style="margin-left: 5%;">
                        <div class="row justify-content-center">
                            <div class="col" style="margin-right: 5%;">
                                <div class="form-group">
                                    <!-- <input class="form-control" type="text" placeholder="Job Title or Company Name"> -->
                                    <mat-form-field class="example-chip-list">
                                        <mat-label>Job Tags</mat-label>
                                        <mat-chip-list #chipList aria-label="Fruit selection">
                                            <mat-chip *ngFor="let jobTag of jobTags" [selectable]="selectable"
                                                [removable]="removable" (removed)="remove(jobTag)">
                                                {{jobTag.name}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                            <input placeholder="Add Job Tags..." [matChipInputFor]="chipList"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]="addOnBlur"
                                                (matChipInputTokenEnd)="add($event)">
                                        </mat-chip-list>
                                    </mat-form-field>
                                    <i class="fa fa-tasks" aria-hidden="true" style="color: #a51d2b;"></i>
                                </div>
                            </div>


                        </div>

                        <div class="row justify-content-center">

                            <div class="col">
                                <div class="form-group">
                                    <div class="search-category-container" style="width: 100%;">
                                        <!-- <label class="styled-select">
                                        <select (click)="autoComplete()">
                                            <option value="">Locations</option>
                                            <option *ngFor="let location of locations" value="location.location">{{location.location}}</option>
                                            
                                        </select>
                                    </label> -->

                                        <mat-form-field style="width: 100%;float: left;">
                                            <mat-select placeholder="Location" [formControl]="location"
                                                [(value)]="selectedLocations" multiple>
                                                <mat-option *ngFor="let loc of locations" [value]="loc">{{loc}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </div>

                                </div>

                            </div>

                            <div class="col">
                                <div class="form-group" style="float: left;">
                                    <div class="search-category-container" style="width: 100%;">
                                        <!-- <label class="styled-select">
                                                                    <select (click)="autoComplete()">
                                                                        <option value="">Locations</option>
                                                                        <option *ngFor="let location of locations" value="location.location">{{location.location}}</option>
                                                                        
                                                                    </select>
                                                                </label> -->
                            
                                        <mat-form-field>
                                            <mat-select [(value)]="selectMinValue" placeholder="Min Experience">
                                                <mat-option [value]="1">1 year</mat-option>
                                                <mat-option [value]="2">2 years</mat-option>
                                                <mat-option [value]="3">3 years</mat-option>
                                                <mat-option [value]="4">4 years</mat-option>
                                                <mat-option [value]="5">5 years</mat-option>
                                                <mat-option [value]="6">6 years</mat-option>
                                                <mat-option [value]="7">7 years</mat-option>
                                                <mat-option [value]="8">8 years</mat-option>
                                                <mat-option [value]="9">9 years</mat-option>
                                                <mat-option [value]="10">10 years</mat-option>
                                                <mat-option [value]="11">11 years</mat-option>
                            
                                            </mat-select>
                                        </mat-form-field>
                            
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col">
                                <div class="form-group" style="margin-left: 30%;">
                                    <div class="search-category-container" style="width: 100%;">
                                        <!-- <label class="styled-select">
                                                                    <select (click)="autoComplete()">
                                                                        <option value="">Locations</option>
                                                                        <option *ngFor="let location of locations" value="location.location">{{location.location}}</option>
                                                                        
                                                                    </select>
                                                                </label> -->
                            
                                        <mat-form-field>
                                            <mat-select [(value)]="selectMaxExperience" placeholder="Max Experience">
                                                <mat-option [value]="1">1 year</mat-option>
                                                <mat-option [value]="2">2 years</mat-option>
                                                <mat-option [value]="3">3 years</mat-option>
                                                <mat-option [value]="4">4 years</mat-option>
                                                <mat-option [value]="5">5 years</mat-option>
                                                <mat-option [value]="6">6 years</mat-option>
                                                <mat-option [value]="7">7 years</mat-option>
                                                <mat-option [value]="8">8 years</mat-option>
                                                <mat-option [value]="9">9 years</mat-option>
                                                <mat-option [value]="10">10 years</mat-option>
                                                <mat-option [value]="11">11 years</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                            
                                </div>
                            </div>
                            <div class="col" style="margin-top: 8px;">
                                <button type="submit" class="btn btn-common"><span *ngIf="loading"
                                        class="spinner-border spinner-border-sm mr-1" ></span>Filter</button>
                            </div>
                            
                            <!-- </form> -->
                            </div>

                        </form>


                    </div>


                </div>
            </div>
        </div>


        <section id="featured" class="section bg-cyan">
            <div class="container">


                <div class="row">


                    <div class="col-lg-4 col-md-6 col-xs-12" *ngFor="let user of users | paginate: config " >
                        <a [routerLink]="['/employeeProfile']" [queryParams]="{employeeId: user.id}">
                            <div class="job-featured">
                                <div class="icon">
                                    <img class="shadow" [src]="user.profilePicName ? serverUrl+'getProfilePicByProfileId/'+user.profilePicName+'/'+user.id : 'https://www.w3schools.com/howto/img_avatar.png'" style="width: 70px;height: 70px;">
                                </div>
                                <div class="content">
                                    <h3><a href="job-details.html">{{user.firstName}} {{user.lastFirstName}}</a></h3>
                                    <p class="brand">{{user.currentJobRole}}</p>
                                    <h3>{{user.currentOrganization}}</h3>
                                    <div class="tags">
                                        <span><i class="fa fa-map-marker"></i> Noida</span>
                                    </div>
                                </div>
        
                                <div class="req-scells"  style="margin-top: 10%;">
                                    <div *ngIf="user.tags.length >0">
                                    <small>Skills :</small>
        
                                    <p><span *ngFor="let tag of user.tags">   {{tag.name}},</span></p>
                                </div>
                                    <span ><small style="color: grey; font-weight: 600; font-size: 15px;">Work Experience :</small><span class="profile" style="color: gray; margin-left: 5%;" *ngIf="user.workExperience">    {{user.workExperience}} years </span><span class="profile" style="color: gray; margin-left: 5%;" *ngIf="!user.workExperience">Not Defined</span></span>
                                    <br/>
                                    <span><small style="color: grey; font-weight: 600; font-size: 15px;">Current CTC :</small><span style="color: gray;margin-left: 5%;" *ngIf="user.currentCtc">    {{user.currentCtc}} LPA </span><span style="color: gray;margin-left: 20%;" *ngIf="!user.currentCtc">Not Defined</span></span>
                                    <br/>
                                    <span><small style="color: grey; font-weight: 600; font-size: 15px;">Expected CTC :</small><span style="color: gray;margin-left: 5%;" *ngIf="user.expectedCtc">    {{user.expectedCtc}} LPA </span><span style="color: gray;margin-left: 16%;" *ngIf="!user.expectedCtc">Not Defined</span></span>
                                    <br/>
                                    <span><small style="color: grey; font-weight: 600; font-size: 15px;">Notice Period :</small><span style="color: gray;margin-left: 5%;" *ngIf="user.noticePeriod">    90 Days </span> <span style="color: gray;margin-left: 17%;" *ngIf="!user.noticePeriod">Not Defined</span></span>
                                    
                                    
        
                                    <p class="activejob">Last active on 27-Feb-2015</p>
                                </div>
                                <!-- <div class="followrow">
                                    <div class="follow">
                                        <span>
                                            <a href="#" class="btn-apply">Follow</a><br>
                                            <em>1835 Followers</em></span>
        
                                        <div class="sendbtn"><a href="#">Send Message</a></div>
                                    </div>
        
                                </div> -->
                            </div>
                        </a>
                    </div>
                    <div class="col-12 text-center mt-4">
                        <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
                    </div>



                </div>
            </div>
        </section>
    </div>

</body>
<app-footer></app-footer>



</html>