<!DOCTYPE html>
<html lang="en">

<app-header></app-header>

<body>
  <div style="clear:both"></div>
  <div class="page-header">
    <div class="inner-header top-header">
      <div class="container">
        <div class="row jobserch">

          <div class="job-search-form bg-cyan job-featured-search" style="width: 100%; background-color: white;">
            <!-- <form [formGroup]="browseForm" (ngSubmit)="onSubmit()"> -->
            <div class="row justify-content-center">
              <div class="col-lg-5 col-md-5 col-xs-12">
                <div class="form-group">
                  <!-- <input class="form-control" type="text" placeholder="Job Title or Company Name"> -->
                  <mat-form-field class="example-chip-list">
                    <mat-label>Job Tags</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                      <mat-chip *ngFor="let jobTag of jobTags" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(jobTag)">
                        {{jobTag.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input placeholder="Add Job Tags..." [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                  </mat-form-field>
                  <i class="fa fa-tasks" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-lg-5 col-md-5 col-xs-12">
                <div class="form-group">
                  <div class="search-category-container">
                    <!-- <label class="styled-select">
                                    <select (click)="autoComplete()">
                                        <option value="">Locations</option>
                                        <option *ngFor="let location of locations" value="location.location">{{location.location}}</option>
                                        
                                    </select>
                                </label> -->

                    <mat-form-field style="width: 100%;">
                      <mat-select placeholder="Location" [formControl]="location" [(value)]="selectedLocations"
                        multiple>
                        <mat-option *ngFor="let loc of locations" [value]="loc">{{loc}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-lg-1 col-md-1 col-xs-12" style="
                    margin-right: 20px;
                    margin-top: 8px;
                ">
                <button type="submit" class="btn btn-common" (click)="filterJobs()"><span *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1"></span>Filter</button>
              </div>
            </div>
            <!-- </form> -->
          </div>




        </div>


      </div>
    </div>
  </div>


  <section class="job-browse section">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-xs-9">

          <div class="row">
            <div class="recomand">
              <h4>{{findJobsCount}} Recommended jobs based on your profile</h4>
              <div class="dropdown">
                <!-- <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by
                  <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Last 2 Months</a></li>
                  <li><a href="#">Last Months</a></li>
                  <li><a href="#">Last Week</a></li>
                  <li><a href="#">Last 3 days</a></li>
                </ul> -->
              </div>
            </div>
          </div>
          <!-- <div *ngIf="findJobsCount>0; else jobsTemplate"> -->
          <div *ngFor="let job of jobData | paginate: config" class="row job-listings shadow"
            style="background: antiquewhite; border-radius: 10px;">
            <div class="col-12">
              <div class="row">
                <div class="col-lg-2 company-img-name">
                  <!-- <img src="../../assets/images/company.png" alt=""> -->
                  <img [src]="job['organization']['orgProfileImage'] ? serverUrl + 'getProfilePic'+'/'+job['organization']['orgProfileImage'] : '../../assets/images/company.png'">
                </div>
                <div class="col-lg-10">
                  <a [routerLink]="['/job-details']" [queryParams]="{jobId: job.id}">
                    <div class="job-details">
                      <h3>{{job.jobName}}</h3>
                      <span class="company-neme">
                        {{job.organization.name}}
                      </span>
                    </div>
                    <div class="top-jd">
                      <ul>
                        <li><i class="fa fa-briefcase" aria-hidden="true"></i> {{job.minExperience}} - {{ job.maxExperience}}
                          yrs</li>
                        <li><i class="fa fa-inr" aria-hidden="true"></i> As per Industry Standards</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{job.jobLocation}}</li>
                      </ul>
                    </div>
                    <div class="top-jd-dt">
                      <p>{{job.jobDescription}}</p>
                    </div>
                    
                  </a>
                </div>
              </div>
            </div>
           
            <div id="block_container">
              <div id="apply" style="float:left" *ngIf="job.applied; else elseBlock">
                <div class="appbtn"><a style="background-color: #a51d2b;color: white;"
                    class="btn-apply disabled">Applied&nbsp;<i class="fa fa-check" aria-hidden="true"></i></a></div>
              </div>



              <ng-template #elseBlock>
                <div id="apply" style="float:left">
                <div class="appbtn"><a (click)="applyJob(job.id)" class="btn-apply">Apply Now</a></div>
                </div>
              </ng-template>
              <div id="save" style="float: right;"><a (click)="saveJob(job.id)" class="btn-apply"><i class="fa fa-save"
                    aria-hidden="true"></i>&nbsp; Save</a></div>
            </div>




            <!-- <div ><a>Applied</a><i class="bi bi-check"></i></div> -->

            <!-- </div> -->
            <!-- <ng-template #jobsTemplate > -->
            <div class="row job-listings" style="    width: 100%; 
          height: 30%;" *ngIf="findJobsCount==0 || findJobsCount==='0' ">
              <p style="    margin-top: 20px;
              text-align: center;"><i class="lni lni-warning"></i> No jobs posted with the current criteria please
                refine your filter</p>
            </div>
            <!-- </ng-template> -->
          </div>
          <!-- <div class="row apply-jobs-user">
            <div class="col-lg-2">
              <div class="box-comp-image">
                  <a href=""><img src="../../../assets/images/comp-1.png" alt=""></a>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="box-comp-det">
                  <p><i class="fas fa-shopping-bag"></i><span>Full Time</span></p>
                  <h4>Full Stack Developer</h4>
                 
                  <ul id="icon-box">
                      <li class="shadow"><i class="fas fa-shopping-bag"></i><span>Java Developer</span></li>
                      <li class="shadow"><i class="fas fa-money-bill"></i><span>35k-50k Per Month</span></li>
                      <li class="shadow"><i class="fas fa-clock"></i><span>10 Min Ago</span></li>
                  </ul>
                  <ul id="apply-save">
                    <li><button class="btn">Apply</button></li>
                    <li><button class="btn">Save</button></li>
                  </ul>
              </div>
          </div>
          </div> -->
          

          <!-- <ul class="pagination">
            <li class="active"><a href="#" class="btn-prev"><i class="lni-angle-left"></i> prev</a></li>
            <li class="active" *ngFor="let a of totalPages; let index = index"><a href="#">{{index+1}}</a></li>
            <li class="active"><a href="#" class="btn-next">Next <i class="lni-angle-right"></i></a></li>
          </ul> -->
          <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>

        </div>
        <div class="col-md-3 mydt-box">
          <div class="job-listings shadow" *ngIf="user">
            <div class="job-company-logo">
              <!-- <img src="/assets/images/blog/img2.jpg" alt=""> -->

              <label class="hoverable" for="fileInput">
                <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'">
                <!-- <div class="hover-text">
                  Choose file
                  <h4 class="success-message" *ngIf="url"> Uploaded Successfully </h4>
                  </div> -->
                <div class="background"></div>
              </label>
              <br />
              <!-- <input id="fileInput" type='file' (change)="onSelectFile($event)"> -->
            </div>
            <div class="job-details">
              <h3>{{user.firstName}} &nbsp;{{user.lastName}}</h3>
              <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> {{user.email}}</a>
              <span class="company-neme" *ngIf="user.userProfile.currentJobRole">
                {{user.userProfile.currentJobRole}}
              </span>
            </div>
            <div class="mydt">
              <a href="#" *ngIf="user.phoneNo"> <i class="fa fa-mobile" aria-hidden="true"></i> +91-{{user.phoneNo}}</a>
             

            </div>
            <a href="#" [routerLink]="['/profile']" class="updatepro">Update Profile</a>



          </div>

        </div>
      </div>
    </div>
  </section>



</body>
<app-footer></app-footer>

</html>