<!DOCTYPE html>
<html lang="en">
    <div *ngIf="!isRecruiter">
    <app-header></app-header>
    </div>
<div *ngIf="isRecruiter">
    <app-recruiter-header></app-recruiter-header>
</div>

<body>



    <div style="clear:both"></div>
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-xs-12">
                    <div class="breadcrumb-wrapper">
                        <div class="img-wrapper">
                            <label class="hoverable" for="fileInput">
                                <img [src]="url ? url : '/assets/images/find-job.png'" style="width: 100%;"> 
                                <div class="background"></div>
                              </label>
                        </div>
                        <div class="content">
                            <h3 class="product-title">Hiring {{job.jobName}}</h3>
                            <a [routerLink]="['/org-profile']" [queryParams]="{orgId: job.organization.id}" ><p class="brand"><span><i class="fa fa-building"></i> &nbsp; &nbsp;{{job.organization.name}}</span> </p></a>
                            <div class="tags">
                                <span><i class="fa fa-map-marker"></i> {{job.jobLocation}}</span>
                                <span><i class="fa fa-calendar"></i> Posted &nbsp;{{job.jobPublished | date:'fullDate'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="month-price">
                        <span class="year">Yearly</span>
                        <div class="price">{{job.minSalary}} LPA To {{job.maxSalary}} LPA</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="job-detail section">
        <div class="container">
        <div class="row justify-content-between">
        <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="content-area">
        <h4>Job Description</h4>
        <p>{{job.jobDescription}}</p>
        
        <h5>What You Need for this Position</h5>
        <ul>
        <li *ngFor="let tag of job.tags">- {{tag.name}}</li>
        </ul>
        <div *ngIf="!isRecruiter">
        <h5>How To Apply</h5>
        <p>Go through a smooth process of applying to a job, Click the below button to apply for the job or you can apply this job on home page through the listing.</p>
        <div *ngIf="job.applied; else elseBlock"><a  class="btn btn-common">Applied &nbsp;<i class="fa fa-check" aria-hidden="true"></i></a></div>
        <ng-template #elseBlock><a (click)="applyJob(job.id)" class="btn btn-common">Apply job</a></ng-template>
    </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12">
        <div class="sideber">
        <div class="widghet">
        <h3>Job Location</h3>
        <div class="maps">
        <div id="map" class="map-full">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d405691.57240383344!2d-122.3212843181106!3d37.40247298383319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb68ad0cfc739%3A0x7eb356b66bd4b50e!2sSilicon+Valley%2C+CA%2C+USA!5e0!3m2!1sen!2sbd!4v1538319316724" allowfullscreen=""></iframe>
        </div>
        </div>
        </div>
        
        </div>
        </div>
        </div>
        </div>
        </section>


    <section id="featured" class="section bg-gray pb-45">
        <div class="container">
            <h4 class="small-title text-left">Similar Jobs</h4>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="job-featured">
                        <div class="icon">
                            <img src="/assets/images/features/img1.png" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="job-page.html">Software Engineer</a></h3>
                            <p class="brand">MizTech</p>
                            <div class="tags">
                                <span><i class="lni lni-map-marker"></i> New York</span>
                                <span><i class="lni lni-user"></i>John Smith</span>
                            </div>
                            <span class="full-time">Full Time</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="job-featured">
                        <div class="icon">
                            <img src="/assets/images/features/img2.png" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="job-page.html">Graphic Designer</a></h3>
                            <p class="brand">Hunter Inc.</p>
                            <div class="tags">
                                <span><i class="lni lni-map-marker"></i> New York</span>
                                <span><i class="lni lni-user"></i>John Smith</span>
                            </div>
                            <span class="part-time">Part Time</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="job-featured">
                        <div class="icon">
                            <img src="/assets/images/features/img3.png" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="job-page.html">Managing Director</a></h3>
                            <p class="brand">MagNews</p>
                            <div class="tags">
                                <span><i class="lni lni-map-marker"></i> New York</span>
                                <span><i class="lni lni-user"></i>John Smith</span>
                            </div>
                            <span class="full-time">Full Time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<app-footer></app-footer>
