<!DOCTYPE html>
<html lang="en">

    <app-header></app-header>

<body>
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Find Recruiters</h3>
                    </div>
                    <div class="job-search-form bg-cyan job-featured-search">
                        <form>
                            <div class="row justify-content-center">
                                <div class="col-lg-5 col-md-5 col-xs-12">
                                    <div class="form-group">
                                        <!-- <input class="form-control" type="text" placeholder="Job Title or Company Name"> -->
                                        <mat-form-field class="example-chip-list" style="width: 100%;">
                                            <mat-label>Skill Tags</mat-label>
                                            <mat-chip-list #chipList aria-label="Fruit selection">
                                                <mat-chip *ngFor="let jobTag of jobTags" [selectable]="selectable"
                                                    [removable]="removable" (removed)="remove(jobTag)">
                                                    {{jobTag.name}}
                                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                </mat-chip>
                                                <input placeholder="Add Job Tags..." [matChipInputFor]="chipList"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    [matChipInputAddOnBlur]="addOnBlur"
                                                    (matChipInputTokenEnd)="add($event)">
                                            </mat-chip-list>
                                        </mat-form-field>
                                          <i class="fa fa-tasks" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-xs-12">
                                    <div class="form-group">
                                        <div class="search-category-container">
                                            <!-- <label class="styled-select">
                                                <select (click)="autoComplete()">
                                                    <option value="">Locations</option>
                                                    <option *ngFor="let location of locations" value="location.location">{{location.location}}</option>
                                                    
                                                </select>
                                            </label> -->

                                            <mat-form-field style="width: 100%;">
                                                <mat-select placeholder="Location" [formControl]="location" [(value)]="selectedLocations" multiple>
                                                  <mat-option *ngFor="let loc of locations" [value]="loc">{{loc}}</mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                        </div>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-12">
                                    <button type="submit" id="custom-filter-button" class="btn btn-common" (click)="filterProfiles()">Filter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section id="featured" class="section bg-cyan">
        <div class="container">

            <div class="filter"> <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#mobile-filter" aria-expanded="false" aria-controls="mobile-filter">Filters<span class="fa fa-filter pl-1"></span></button>
            </div>
            
            <section id="sidebar" class="job-featured" style="margin-top: 2%;">
                <div>
                    <h6 class="p-1 border-bottom">Filter By</h6>
                    <!-- <section class="example-section">
                        <span class="example-list-section">
                          <ul>
                            <li *ngFor="let subtask of places.subtasks">
                              <mat-checkbox [(ngModel)]="subtask.completed"
                                            [color]="subtask.color"
                                            (ngModelChange)="updateLocation(subtask.name)">
                                {{subtask.name}}
                              </mat-checkbox>
                            </li>
                          </ul>
                        </span>
                      </section> -->
                      <div>
                        <p class="mb-2">Profile location</p>
                        <section class="example-section">
                            <span class="example-list-section">
                              <!-- <ul>
                                <li *ngFor="let subtask of places.subtasks">
                                  <mat-checkbox [(ngModel)]="subtask.completed"
                                                [color]="subtask.color"
                                                (ngModelChange)="updateLocation(subtask.name)">
                                    {{subtask.name}}
                                  </mat-checkbox>
                                </li>
                              </ul> -->
                              <div>
                              <mat-form-field style="width: 100%;">
                                <mat-select placeholder="Location" [formControl]="location" [(value)]="selectedLocations" multiple>
                                  <mat-option *ngFor="let loc of locations" [value]="loc">{{loc}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                          </div>
                          
                            </span>
                          </section>
                    </div>
                </div>
                <div >
                    <p class="mb-2">Categories</p>
                    <section class="example-section">
                        <span class="example-list-section">
                            <mat-form-field style="width: 100%;">
                                <mat-select placeholder="Select Category" [formControl]="category" [(value)]="selectCategory" multiple>
                                  <mat-option *ngFor="let cat of categories" [value]="org">{{cat}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </span>
                      </section>
                </div> 
                <!-- <section class="example-section">
                    <p class="mb-2">Experience</p>
                    <mat-form-field class="example-margin">
                      <mat-label>Min Experience</mat-label>
                      <input matInput type="number" [(ngModel)]="min">
                    </mat-form-field>
                    <mat-form-field class="example-margin">
                      <mat-label>Max Experience</mat-label>
                      <input matInput type="number" [(ngModel)]="max">
                    </mat-form-field>
                  </section> -->

                  <!-- <div>
                    <p class="mb-2">Salary (in lakhs)</p>
                    <section class="example-section">
                        <span class="example-list-section">
                            <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
                        </span>
                      </section>
                </div> -->
                <div >
                    <p class="mb-2">Organization</p>
                    <section class="example-section">
                        <span class="example-list-section">
                            <mat-form-field style="width: 100%;">
                                <mat-select placeholder="Select Organization" [formControl]="organization" [(value)]="selectedOrg" multiple>
                                  <mat-option *ngFor="let org of organizations" [value]="org">{{org}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </span>
                      </section>
                </div> 
                <div class="col-12 text-center mt-4">
                    <a class="btn btn-common" style="color: white;" (click)="filterProfiles()">Refine</a>
                </div>
            </section>
            <section id="products">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-xs-12" *ngFor="let user of users | paginate: config" >
                           
                                <div class="job-featured">
                                    <a [routerLink]="['/recruiterProfile']" [queryParams]="{recruiterId: user.id}">
                                    <div class="icon">
                                        <img [src]="user.profilePicName ? serverUrl+'getProfilePicByProfileId/'+user.profilePicName+'/'+user.id : 'https://www.w3schools.com/howto/img_avatar.png'" style="width: 70px;height: 70px;">
                                    </div>
                                    <div class="content">
                                        <h3><a href="job-details.html">{{user.firstName}} {{user.lastFirstName}}</a></h3>
                                        <p class="brand">Senior Recruiter</p>
                                        <!-- <h3>Wipro Pvt LTD</h3> -->
                                        <div class="tags">
                                            <span *ngIf="user.recruiterProfile"><span *ngIf="user.recruiterProfile.currentLocation"><i class="fa fa-map-marker"></i> {{user.recruiterProfile.currentLocation}}</span></span>
                                        </div>
                                    </div>
                                    
                                    <div class="req-scells"  style="margin-top: 10%;">
                                        <div *ngIf="user.tags.length >0">
                                        <small>Skills what i hire for:</small>
            
                                        <p><span *ngFor="let tag of user.tags">   {{tag.name}},</span></p>
                                    </div>
                                        <span ><small>Phone Number :</small><span class="profile" style="color: gray; margin-left: 5%;" *ngIf="user.phoneNo">    {{user.phoneNo}} </span><span class="profile" style="color: gray; margin-left: 5%;" *ngIf="!user.phoneNo">Not Defined</span></span>
                                        <br/>
                                        <span><small>Email Id :</small><p class="text-ellipse" style="color: gray;margin-left: 5%;" *ngIf="user.email">{{user.email}}</p><span style="color: gray;margin-left: 5%;" *ngIf="!user.email">Not Defined</span></span>
                                        <br/>
                                        <span *ngIf="user.recruiterProfile"><small>Current Organization :</small><span style="color: gray;margin-left: 5%;" *ngIf="user.recruiterProfile.currentOrganization">    {{user.recruiterProfile.currentOrganization}} </span><span style="color: gray;margin-left: 5%;" *ngIf="!user.recruiterProfile.currentOrganization">Not Defined</span></span>
                                        <br/>
                                        
                                    </div>
                                </a>
                                    <div class="add-post-btn" style="margin-top: 4%;">
                                        <div class="float-left set-send-msg">
                                            <a (click)="saveProfile(user.id)"  class="btn-added" style="    position: absolute;
                                            bottom: 2%;
                                            left: 10%;"><i class="ti-plus"></i> Send Message</a>
                                            
                                            </div>
                                        </div>
                                   
                                </div>
                                
                            
                        </div>
                        <div class="col-12 text-center mt-4">
                            <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
                        </div>

                    </div> 
                </div>
            </section>				                            
            

             
        </div>
    </section>

</body>
<app-footer></app-footer>
<script>'undefined' === typeof _trfq || (window._trfq = []); 'undefined' === typeof _trfd && (window._trfd = []), _trfd.push({ 'tccl.baseHost': 'secureserver.net' }), _trfd.push({ 'ap': 'cpsh' }, { 'server': 'sg3plcpnl0184' }) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>
<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>



</html>