<!DOCTYPE html>
<html lang="en">
<app-header></app-header>

<body>



    <div style="clear:both"></div>
    <div class="page-header">
        <div class="container">
            <div class="row set-row-rp">
                <div class="col-lg-8 col-md-6 col-xs-12">
                    <div class="breadcrumb-wrapper" *ngIf="user">
                        <div class="job-company-logo">
                            <!-- <img src="/assets/images/blog/img2.jpg" alt=""> -->
              
                            <label class="hoverable" for="fileInput">
                              <img [src]="user.recruiterProfile.profilePic ? url+'getProfilePicByProfileId/'+user.recruiterProfile.profilePic+'/'+user.id : 'https://www.w3schools.com/howto/img_avatar.png'"> 
                              <!-- <div class="hover-text">
                                Choose file
                                <h4 class="success-message" *ngIf="url"> Uploaded Successfully </h4>
                                </div> -->
                              <div class="background"></div>
                            </label>
                            <br/>
                            <!-- <input id="fileInput" type='file' (change)="onSelectFile($event)"> -->
                          </div>
                        <div class="content" *ngIf="user">
                            <h3  class="product-title">{{user.firstName}} {{user.lastName}}</h3>
                            <!-- <div class="tags"><i class="fa fa-building-o" aria-hidden="true"></i>{{user.recruiterProfile.currentOrganization}}</div> -->
                            <div class="tags" *ngIf="user.recruiterProfile.currentOrganization">
                                <span><i class="lni lni-apartment" ></i>{{user.recruiterProfile.currentOrganization}}</span>
                            </div>
                            <div class="tags" *ngIf="user.recruiterProfile.currentJobRole">
                                <span><i class="lni lni-briefcase"></i>{{user.recruiterProfile.currentJobRole}}</span>
                            </div>
                            <div class="tags">
                                <span  *ngIf="user.recruiterProfile.currentLocation"><i class="lni lni-map-marker"></i> {{user.recruiterProfile.currentLocation}}</span>
                                <span class="shadow post-prof"><i class="lni lni-calendar"></i> Posted &nbsp;Wednesday, May 26, 2021</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <!-- <div class="month-price">
                        <span class="year">Yearly</span>
                        <div class="price">$65,000</div>
                    </div> -->
                    <ul class="mt-3 footer-social">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="job-detail section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-8 col-md-12 col-xs-12">
                    <div class="content-area" *ngIf="user">
                        <h4>Profile Description</h4>
                        <p>{{user.recruiterProfile.aboutMe}}</p>

                        <h5>Skills what i hire for</h5>
                        <ul>
                            <!-- <li *ngFor="let tag of job.tags">- {{tag.name}}</li> -->
                            <li *ngFor="let tag of user.recruiterProfile.tags">- {{tag.name}}</li>
                        </ul>
                        <mat-tab-group>
                            <mat-tab label="Current Active Jobs">

                                <div *ngIf="jobs; else jobsTemplate">
                                    <div class="manager-resumes-item" *ngFor="let job of jobs">
                                       <a [routerLink]="['/job-details']" [queryParams]="{jobId: job.id}">
                                        <!-- <div class="manager-content">
                                            
                                            <div class="manager-info">
                                                <div class="manager-name">
                                                    <h4><a href="#">{{job.organization.name}}</a></h4>
                                                    <h5>{{job.jobName}}</h5>
                                                    <div>Keyskills : <span *ngFor="let tag of job.tags">{{tag.name}},</span></div>
                                                </div>
                                                <div class="manager-meta">
                                                    <span class="location"><i class="lni lni-map-marker" ></i> {{job.jobLocation}}</span>
                                                    <span class="rate"><i class="lni lni-rupee"></i> {{job.minSalary}} LPA - {{job.maxSalary}} LPA</span>
                                                    <span class="rate"><i class="lni lni-library"></i> {{job.minExperience}} years - {{job.maxExperience}} years</span>
                                                </div>
                                            </div>
                                        </div> -->

                                        <div class="row set-color-inrow">
                                            <div class="col-lg-2 ">
                                                <div class="box-comp-image">
                                                    <a href="">
                                                        <!-- <img src="../../../assets/images/comp-1.png" alt=""> -->
                                                        <img [src]="url ? url + 'getProfilePic'+'/'+job['organization']['orgProfileImage'] : '/assets/images/find-job.png'">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 " style="padding-left: 5%;">
                                                <div class="box-comp-det">
                                                    <div>
                                                    <p><i class="fas fa-shopping-bag"></i><span>Full Time</span></p>
                                                </div><br/>
                                                <h4>{{job.organization.name}}</h4>
                                                    <!-- <div class="row">
                                                        gaurav
                                                    </div> -->
                                                    <ul id="icon-box">
                                                <li class="shadow"><i class="fas fa-shopping-bag"></i><span>{{job.jobName}}</span></li>
                                                <li class="shadow"><i class="fa fa-briefcase" aria-hidden="true"></i> {{job.minExperience}} - {{ job.maxExperience}}
                                                    yrs</li>
                                                <li class="shadow"><i class="fa fa-map-marker" aria-hidden="true"></i> {{job.jobLocation}}</li>
                                            </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="box-comp-det-btn">
                                                    <button class="btn">Apply Now</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="update-date">
                                            <p class="status" style="    margin-top: 20px;
                                            text-align: center;">
                                                <strong>Posted on:</strong> {{job.jobPublished | date:'fullDate'}}
                                            </p>
                                            <div class="action-btn">
                                                <a class="btn btn-xs btn-danger" href="#">Hide</a>
                                            </div>
                                        </div>
                                    </a>
                                    </div>
                                </div>
                                    <ng-template #jobsTemplate>
                                        <p>No Active jobs posted by this recruiter</p>
                                    </ng-template>
                                

                            </mat-tab>
                            <mat-tab label="Jobs Completed in Past">
                                

                            </mat-tab>
                        </mat-tab-group>
                        <!-- <h5>How To Apply</h5>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
        <a href="#" class="btn btn-common">Apply job</a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-xs-12">
                    <div class="sideber">
                        <div class="widghet">
                            <h3>Recruiter Location</h3>
                            <div class="maps">
                                <div id="map" class="map-full">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d405691.57240383344!2d-122.3212843181106!3d37.40247298383319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb68ad0cfc739%3A0x7eb356b66bd4b50e!2sSilicon+Valley%2C+CA%2C+USA!5e0!3m2!1sen!2sbd!4v1538319316724"
                                        allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="widghet">
                            <h3>Share This Job</h3>
                            <div class="share-job">
                                <form method="post" class="subscribe-form">
                                    <div class="form-group">
                                        <input type="email" name="Email" class="form-control" placeholder="sadd"
                                            required>
                                        <button type="submit" name="subscribe" class="btn btn-common sub-btn"><i
                                                class="lni-files"></i></button>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                                <ul class="mt-4 footer-social">
                                    <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                                    <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                                    <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
                                </ul>
                                <div class="meta-tag">
                                    <span class="meta-part"><a href="#"><i class="lni-star"></i> Write a
                                            Review</a></span>
                                    <span class="meta-part"><a href="#"><i class="lni-warning"></i> Reports</a></span>
                                    <span class="meta-part"><a href="#"><i class="lni-share"></i> Share</a></span>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- <section id="featured" class="section bg-gray pb-45">
        <div class="container">
            <h4 class="small-title text-left">Similar Jobs</h4>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="job-featured">
                        <div class="icon">
                            <img src="/assets/images/features/img1.png" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="job-page.html">Software Engineer</a></h3>
                            <p class="brand">MizTech</p>
                            <div class="tags">
                                <span><i class="lni lni-map-marker"></i> New York</span>
                                <span><i class="lni lni-user"></i>John Smith</span>
                            </div>
                            <span class="full-time">Full Time</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="job-featured">
                        <div class="icon">
                            <img src="/assets/images/features/img2.png" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="job-page.html">Graphic Designer</a></h3>
                            <p class="brand">Hunter Inc.</p>
                            <div class="tags">
                                <span><i class="lni lni-map-marker"></i> New York</span>
                                <span><i class="lni lni-user"></i>John Smith</span>
                            </div>
                            <span class="part-time">Part Time</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="job-featured">
                        <div class="icon">
                            <img src="/assets/images/features/img3.png" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="job-page.html">Managing Director</a></h3>
                            <p class="brand">MagNews</p>
                            <div class="tags">
                                <span><i class="lni lni-map-marker"></i> New York</span>
                                <span><i class="lni lni-user"></i>John Smith</span>
                            </div>
                            <span class="full-time">Full Time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</body>
<app-footer></app-footer>

<script>'undefined' === typeof _trfq || (window._trfq = []); 'undefined' === typeof _trfd && (window._trfd = []), _trfd.push({ 'tccl.baseHost': 'secureserver.net' }), _trfd.push({ 'ap': 'cpsh' }, { 'server': 'sg3plcpnl0184' }) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>
<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>