.example-chip-list {
    width: 100%;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .hoverable{
    position: relative;
    display: block;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .hoverable .hover-text{
    position: absolute;
    display: none;
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);   
    z-index: 2;
  }
  .hoverable .background{
    position: absolute;
    display: none;
    top: 0;
    left:  0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
  }
  .hoverable:hover .hover-text{
    display: block;
  }
  .hoverable:hover .background{
    display: block;
  }
  
  #fileInput{
    display: none;
  }

  .job-company-logo {
    float: left;
    padding-right: 10px;
    padding-left: 0px;
    text-align: left;
    width: 15%;
    margin-right: 10px;
}

.box-comp-image {
  width: 100%;
}
.box-comp-image img {
  width: 100%;
}
.box-comp-det h4 {
  font-size: 22px !important;
}

.box-comp-det-btn .btn {
  background: brown;
}
.box-comp-det-btn {
  text-align: end;
}

.box-comp-det i {
  padding-right: 10px;
}
.box-comp-det p {
  color:#94CA7D;
  font-size: 12px;
  border-radius: 10px;
}
.box-comp-det h4 {
  color: #696984;
  font-size: 12px;
}

.box-comp-det li {
 margin-right: 18px;
padding: 5px;
color: #C4C4C4;
border-radius: 11px;
font-size: 12px;
display: ruby-text;
}

.set-color-inrow {
  background: #fff;
  padding: 3%;
}
.box-comp-det p {
  background: #E0F5D7;
  width: 40%;
text-align: center;

}

#icon-box i {
  color: #468ACA !important;
}

#custom-filter-button{
  margin: 6px -13px;
  }
#icon-box {
  display: -webkit-inline-box;
}
.set-row-rp {
  margin-top: 4%;
}
.job-detail {
  padding: 35px 0;
}
.product-title {
  padding-bottom: 5px;
}
.post-prof {
  padding: 1%;
  border-radius: 15px;
}