/* #rec-head {
    border-bottom: 2px solid #a51d2b;
} */
/* #main-navbar {
    margin-top: 20px;
} */
#rec-icon {
    font-size: 28px !important;
    
    margin-top: 5px;
    margin-left: 5px;
}
#nav-app {
    margin-right: 5px;
}
.logOut {
    cursor: pointer;
}

/* recruiter header */

nav.shift ul li a {
    position:relative;
    z-index: 1;
  }
  nav.shift ul li a:hover {
    color: #fff;
  }

  nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #a51d2b;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  

  /* button anim */
  .icon-cls {
    margin-left: 8px;
  }