<!DOCTYPE html>
<html lang="en">
<app-header></app-header>

<body>
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Applied Jobs</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-xs-12">
                    <div class="right-sideabr">
                        <h4>Manage Account</h4>
                        <ul class="list-item">
                            <li><a   [routerLink]="['/profile']">My Profile</a></li>
                            <li><a  [routerLink]="['/work-experience']">Work Experience</a></li>                            
                            <li><a   [routerLink]="['/education']">Education</a></li>
                            <li><a  [routerLink]="['/skills']">Skills</a></li>
                            <li><a  [routerLink]="['/saved-jobs']">Saved Jobs</a></li>
                            <li><a class="active" [routerLink]="['/applied-jobs']">Applied Jobs</a></li>
                            <li><a [routerLink]="['/changepassword']">Change Password</a></li>
                            <li><a href="notifications.html">Notifications <span class="notinumber">2</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-xs-12">
                    <div class="job-alerts-item candidates">
                        <h3 class="alerts-title">Jobs Applied By You</h3>
                        <div class="manager-resumes-item" *ngFor="let job of savedJobs | paginate: config" >
                            <a  [routerLink]="['/job-details']" [queryParams]="{jobId: job.job.id}">
                                <div class="row set-color-inrow">
                                    <div class="col-lg-3 ">
                                        <div class="box-comp-image">
                                            <a href="">
                                                <!-- <img src="../../../assets/images/comp-1.png" alt=""> -->
                                                <img [src]="url ? url + 'getProfilePic'+'/'+job.job['organization']['orgProfileImage'] : '/assets/images/find-job.png'">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 " style="padding-left: 5%;">
                                        <div class="box-comp-det">
                                            <div>
                                            <p><i class="fas fa-shopping-bag"></i><span>Full Time</span></p>
                                        </div><br/>
                                        <h4>{{job.job.organization.name}}</h4>
                                            <!-- <div class="row">
                                                gaurav
                                            </div> -->
                                            <ul id="icon-box">
                                                <li class="shadow"><i class="fas fa-shopping-bag"></i><span>{{job.job.jobName}}</span></li>
                                                <li class="shadow"><i class="fa fa-briefcase" aria-hidden="true"></i> {{job.job.minExperience}} - {{ job.job.maxExperience}}
                                                    yrs</li>
                                                <li class="shadow"><i class="fa fa-map-marker" aria-hidden="true"></i> {{job.job.jobLocation}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-6">
                                        <div class="box-comp-det-btn">
                                            <button class="btn">Apply Now</button>
                                        </div>
                                    </div> -->
                                </div>
                            </a>
                        </div>
                        
                        <!-- <a class="btn btn-common btn-sm" href="add-resume.html">Add new resume</a> -->
                        <div class="col-12 text-center mt-4">
                            <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<app-footer></app-footer>

<script>'undefined' === typeof _trfq || (window._trfq = []); 'undefined' === typeof _trfd && (window._trfd = []), _trfd.push({ 'tccl.baseHost': 'secureserver.net' }), _trfd.push({ 'ap': 'cpsh' }, { 'server': 'sg3plcpnl0184' }) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>
<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>