<!DOCTYPE html>
<html lang="en">

<app-recruiter-header></app-recruiter-header>

<body>
    <div style="clear:both"></div>

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <h3 class="text-center" style="font-size: 30px;">Job Posted</h3>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="right-sideabr">
                        <h4>Manage Account</h4>
                        <ul class="list-item">
                            <li *ngIf="user">
                                <!-- <a  [routerLink]="['/recruiterProfile']"> -->
                                    <a [routerLink]="['/recruiterUserProfile']" [queryParams]="{recruiterId: user.id}">My Profile</a></li>
                            <li><a class="active" [routerLink]="['/job-posted']">Job Posted</a></li>
                            <li><a [routerLink]="['/saved-profiles']">Saved Profiles</a></li>
                            <li><a [routerLink]="['/applicationRecieved']">Application Recieved</a></li>
                            <li><a [routerLink]="['/changepassword']">Change Password</a></li>
                            <!-- <li><a href="notifications.html">Notifications <span class="notinumber">2</span></a></li> -->
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-8 col-md-8 col-xs-12">
                 
                    <div class="inner-box my-resume">
                        <!-- <div class="author-resume">
                             <div class="thumb">
                                <label class="hoverable" for="fileInput">
                                    <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
                                    <div class="hover-text">
                                      Choose file
                                      <h4 class="success-message" *ngIf="url"> Uploaded Successfully </h4>
                                      </div>
                                    <div class="background"></div>
                                  </label>
                                  <br/>
                                  <input id="fileInput" type='file' (change)="onSelectFile($event)">
                            </div>
                            <div class="author-info">
                                <h3>{{user.firstName}}&nbsp;{{user.lastName}}</h3>
                                <div *ngIf="userProfile">
                                    <p class="sub-title">{{userProfile.currentJobRole}}</p>
                                </div>
                                <p><span class="address"> <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Mahattan,
                                        NYC, USA</span>
                                    <span><i class="ti-phone"></i>(+91) {{user.phoneNo}}</span>
                                </p>
                                <div class="social-link">
                                    <a href="#" class="Twitter"><i class="fa fa-twitter-square"></i></a>
                                    <a href="#" class="facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                    <a href="#" class="linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div> -->
                        
                            
                            <!-- <div *ngIf="userProfile; else aboutTemplate">
                                <p>{{userProfile.aboutMe}} </p>
                            </div>
                            <ng-template #aboutTemplate>
                                <p>No Desciption added yet</p>
                            </ng-template> -->

                     

                        <mat-tab-group>
                            <mat-tab label="Current Active Jobs">

                                <div *ngIf="jobs; else jobsTemplate">
                                    <div class="manager-resumes-item" *ngFor="let job of jobs | paginate: config">
                                       <a [routerLink]="['/job-details']" [queryParams]="{jobId: job.id}">
                                        <div class="manager-content">
                                            <!-- <a href="resume.html"><img class="resume-thumb" src="img/jobs/avatar-1.jpg"
                                                    alt=""></a> -->
                                            <div class="manager-info">
                                                <div class="manager-name">
                                                    <h4><a href="#">{{job.organization.name}}</a></h4>
                                                    <h5>{{job.jobName}}</h5>
                                                    <div>Keyskills : <span *ngFor="let tag of job.tags">{{tag.name}},</span></div>
                                                </div>
                                                <div class="manager-meta">
                                                    <span class="location"><i class="lni lni-map-marker" ></i> {{job.jobLocation}}</span>
                                                    <span class="rate"><i class="lni lni-rupee"></i> {{job.minSalary}} LPA - {{job.maxSalary}} LPA</span>
                                                    <span class="rate"><i class="lni lni-library"></i> {{job.minExperience}} years - {{job.maxExperience}} years</span>
                                                </div>
                                            </div>
                                        </div>
                                        </a>
                                        <div class="update-date">
                                            <p class="status" style="    margin-top: 20px;
                                            text-align: center;">
                                                <strong>Posted on:</strong> {{job.jobPublished | date:'fullDate'}}
                                            </p>
                                            <div class="action-btn" style="margin-left: 1%;">
                                                <a class="btn btn-xs btn-danger" [routerLink]="['/postjob']" [queryParams]="{jobId:job.id}">Edit</a>
                                            </div> 
                                            <div class="action-btn">
                                                <a class="btn btn-xs btn-danger" href="#">Delete</a>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="col-12 text-center mt-4">
                                    <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
                                </div>
                                    <ng-template #jobsTemplate >
                                        
                                    </ng-template>
                                

                            </mat-tab>
                            <mat-tab label="Jobs Completed in Past">
                                <div class="manager-resumes-item" *ngFor="let student of students">
                                    <div class="manager-content">
                                        <a href="resume.html"><img class="resume-thumb" src="img/jobs/avatar-1.jpg"
                                                alt=""></a>
                                        <div class="manager-info">
                                            <div class="manager-name">
                                                <h4><a href="#">Comapany: Zane Joyner</a></h4>
                                                <h5>Job Roles: Front-end developer</h5>
                                            </div>
                                            <div class="manager-meta">
                                                <span class="location"><i class="fa-solid fa-location-pin  mr-2"></i> Cupertino, CA,
                                                    USA</span>
                                                <span class="rate"><i class="fa-solid fa-indian-rupee-sign mr-2"></i> $55 per hour</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="update-date">
                                        <p class="status">
                                            <strong>Updated on:</strong> Fab 22, 2020
                                        </p>
                                        <div class="action-btn">
                                            <!-- <a class="btn btn-xs btn-gray" href="#">Hide</a>
                                            <a class="btn btn-xs btn-gray" href="#">Edit</a> -->
                                            <a class="btn btn-xs btn-danger" href="#">Delete</a>
                                        </div>
                                    </div>
                                </div>


                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<app-footer></app-footer>
<script>'undefined' === typeof _trfq || (window._trfq = []); 'undefined' === typeof _trfd && (window._trfd = []), _trfd.push({ 'tccl.baseHost': 'secureserver.net' }), _trfd.push({ 'ap': 'cpsh' }, { 'server': 'sg3plcpnl0184' }) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>
<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>

</html>